* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #5a3e36, #8f5b4c);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    position: relative;
    width: 800px;
    height: 500px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.color-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background: linear-gradient(45deg, #5a3e36, #462c24);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    z-index: 2;
}

.color-panel h1 {
    font-size: 2.5em;
}

.form-container {
    position: absolute;
    top: 0;
    left: 40%;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 80%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.input-container {
    position: relative;
    margin: 15px 0;
}

.input-container input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
    background-color: transparent;
}

.input-container label {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
    transition: 0.3s;
}

.input-container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}

.input-container input:focus ~ label,
.input-container input:not(:placeholder-shown) ~ label {
    top: -5px;
    left: 35px;
    font-size: 12px;
    color: #a26907;
}

.input-container input:focus,
.input-container input:not(:placeholder-shown) {
    border-bottom-color: #5a3e36;
}

button {
    width: 100%;
    padding: 12px;
    background: #5a3e36;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    transition: 0.3s;
}

button:hover {
    background: #5a3e36;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.toggle-link {
    text-align: center;
    margin-top: 20px;
}

.toggle-link a {
    color: #644e48;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.toggle-link a:hover {
    color: #5a3e36;
    text-decoration: underline;
}